<div>
    <h1>Hola!</h1>
    <form>
        <input id="ingreso" name="name" placeholder="Ingrese nombre de usuario">
        <input id="age" name="age" placeholder="Ingrese la edad del usuario">
        <button onclick="enviar()">Enviar</button>
    </form>
</div>
<div id="prueba"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="../js/index.js"></script>